<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>RailsCasts Weekly</title>
  <style type="text/css">
  table { font-family: Helvetica; font-weight: 100;letter-spacing: -0.2;}
  body, td { color:#000000; font-size:14px; font-family:Helvetica; text-align: center;font-weight: 100;letter-spacing: -0.2;}
  .divider { background-color:#555555; height:2px; }
  .small-divider { background-color:#555555; height:1px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}

  tr { text-align: center; }
  td { text-align: center; }
  p { text-align: center; }

  .commission-notification-container table {
    text-align: center;
    width: 80%;
    left-margin: 10%;
    border: 1px solid green;
    box-shadow: 1px 1px 1px gray;
    border-radius: 2px;
  }


  #commission-notification-header h3 {
    color: green;
  }

  #commission-notification {
    color: black;
    font-size: 1.5em;
  }

  #commission-description {
    font-size: 1.5em;
  } 


  </style>
</head>

<body>
  <table class="commission-notification-container" width="100%" id="background" border="0" cellpadding="0" cellspacing="0" style="    text-align: center;width: 80%;left-margin: 10%; border: 1px solid green;box-shadow: 1px 1px 1px gray;border-radius: 2px;">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="commission-notification" colspan="2">
            <h3 id="commission-notification-header" style="color:green">Congratulations, your art is wanted!</h3>
            Artery user Phillip L wants to put you to work
          </td>
        </tr>
        <tr>
          <td class="small-divider" colspan="2" bgcolor="#555555" height="1"></td>
        </tr>
        <tr class="episode">
          <td valign="top">
            <h3 id="commission-notification-header" style="color:green">Description</h3>
              <p id="commission-message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </td>
        </tr>
        <tr>
          <td class="small-divider" colspan="2" bgcolor="#555555" height="1"></td>
        </tr>
        <tr class="episode">
          <td valign="top">
            <p id="commission-notification">
              Phillip L would like to pay you $50.00 for this work to be finished by 12/31/2015. Do you accept this offer?</p>
            <p> <button> accept </button> <button> decline </button> <button> make counter offer</button> </p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p><a href="#">Unsubscribe</a> if you do not wish to receive these emails in the future.</p>
            <p>&copy;2015 Artery </p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>