<!DOCTYPE html>
<html>
<head>
  <title>Arty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<script src="/Users/phillipl/Desktop/rails_sites/arty/app/assets/javascripts/masonry.pkgd.min.js"></script>

<%= yield %>

</body>
</html>
